@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Light-gray: hsl(212, 45%, 89%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White:hsl(0,0%,100%);
    
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-weight:normal;
}

/* body{
    background-color:var(--Very-Dark-Blue);
} */

.container-wrapper{
    background-color:var(--White);
    /* width:95vw; */
    /* height:90vh; */
    margin:auto;
    border:1px solid white;
    box-shadow:2px 2px 10px var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

}
.top-bar{
    text-align:center;
    font-size:1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:2px solid red;
    background-color: rgb(156,23,39);
    color:#fff;
    padding:1rem;
}
.cart-counter-wrapper{
    display:flex;
    width:5rem;
    border:2px solid white;
    justify-content: center;
    align-items: center;

    /* background-color: azure; */

    
}
.search-input{

    width:40rem;
    height:3rem;
    outline:none;
    border:none;
    border-radius:10px;
}
.top-bar>svg{
    width:40px;
    height:40px;
}
.side-bar-main-wrapper{
    display: flex;
    flex-direction: column;
}

.side-bar{
    flex:0.2;
    /* border:2px solid red; */
    /* height: 90%; */
    
}
#search-error-message{
    color:white;
    background:"red";
    font-size:8px;
    padding:2px;
    opacity: 0;
}
svg{
    /* background-color: #fff; */
    width:2rem;
    height:2rem;
}

#products{
    flex:0.8;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:0.7rem;
    background-color: var(--Light-gray);
}
.product{
    display: flex;
    flex-direction: column;
    width:18rem;
    height:18rem;
    border:1px solid white;
    box-shadow: 2px 2px 10px gray;
    background-color: white;
    border-radius:15px;
    padding:.2rem;
}

.product:hover{
    /* border:2px solid red; */
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--Light-gray);
}
.product img{
    width:45.5%;
    height:7rem;

}
.show-details-button{
    width: 4rem;
    height: 2rem;
    padding: .3rem;
    font-size: 1rem;
    background-color: rgb(102, 102, 211);
    color:white;
    cursor:pointer;

}
.add-to-cart-btn{
    width:6rem;
    height:2rem;
    padding:4px;
    color:white;
    background-color:red;
    cursor:pointer;
 
}

.add-to-cart-btn:hover{
    background:transparent;
    color:black
}
#buttons-wrapper{
    display:flex;
    gap:0.5rem;
}

.cart{
    width:90vw;
    /* height:30rem; */
    box-shadow:2px 2px 2px gray;
    display:flex;
    flex-direction: column; 
    height:50vh;
    overflow-x: scroll;
    margin:3rem auto;
}

.cart-image{
    width:45.5%;
    height:7rem;
}

.cart-product-card{
    display: flex;
    border:2px solid gray;
    margin:20px;
    width:30rem;
    height:20rem;
}
.cart-counter{
    font-size:1.3rem;
    border-radius: 50%;
    padding:0.2rem;
    background-color: #fff;
    text-align:center;
    color:black;
    position: relative;
    top:-0.9rem;
    left:-0.5rem;
    
}
.product-category{
    font-style: italic;
}
#price,#category{
    font-weight: bold;
}

footer{
    width:100vw;
    height:10vh;
    color:white;
    background-color: rgb(156,23,39);
    display:flex;
    justify-content: space-evenly;
    
    
}
footer>a{
    color:white;
    text-decoration: none;
    cursor:pointer;
    
}
